// Cores
$primary-color: #033e8e;
$secondary-color: #021c41;
$tertiary-color: #e74c3c;

// Tamanhos de fonte
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;

// Margens e preenchimentos
$margin-small: 8px;
$margin-medium: 16px;
$margin-large: 24px;
