// Anotação: Preciso criar um arquivo com estilizações padrões como o .container e as variáveis de cores

@import '/src/styles/variables.scss';

// Estilização da Estrutura da Header e NavBar
header {
  padding: 1rem 0;
}

.flex, .container{
  gap: 1.2rem;
}

.container {
  max-width: 1200px;
  justify-content: space-between;
  margin: 0 auto; /* Adicionado para centralizar o conteúdo */
}

.navbar {
  height: 80px;
}

hr {
  margin: 0;
}

// Estilização Icones Superiores

.icon {
  display: flex;
  align-items: center;
}

.icon svg {
  fill: $primary-color;
  font-size: 0.8rem;
}

.contato svg{
  margin-right: 0.5rem;
}

.redes-sociais svg {
  margin-left: 1rem;
}

.icon a, svg{
  font-size: 0.8rem;
  color: $secondary-color;
  text-decoration: none;
  font-weight: 400;
  font-family: 'Quicksand', sans-serif;
  // font-family: 'GFS Didot', serif;
  // font-family: Arial, Helvetica, sans-serif;
}

// Estilização das Logos
.logo img{
  height: 64px;
  width: auto;
  margin-right: 1.5rem;
}

// Estilização do Menu

ul, li a {
  color: $secondary-color;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  font-family: "Quicksand", Arial;
}
